
<div class="container" ng-hide="talkers.length"><center><h1><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h1></center></div>
<div class="container" ng-show = "talkers.length">
	<div class="row" >
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-comments fa-1x"></i> Chats 
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-class="{'text-right highligh-blue': temp == selectedTalker}" ng-repeat="temp in talkers"><span
						class="pull-left" ><strong class=""></strong></span>
						<span ng-click="getConversation(temp)">{{temp}}</span></li>
				</ul>
			</div>
		</div>
		<div class="col-md-10">
			<div class="chats">
			<div ng-hide="message.length"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i> Loading chats...</div>
				<div ng-repeat="x in message" ng-show="message">
					<div ng-if="user1 != x.to" style="overflow: auto;">
						<div class="textChipRight">
							<span>{{x.text}}</span> <a ng-href='/#/profile/{{user1}}'><img class="my-picture"
									src="{{baseURLImages}}/{{user1}}.jpg"
									alt="image"> </a>
						</div>
					</div>
					<div ng-if="user2 != x.to" style="overflow: auto;">
						<div class="textChipLeft">
							<span>{{x.text}}</span> <a ng-href='/#/profile/{{user2}}'><img class="my-picture"
									ng-src='{{baseURLImages}}/{{user2}}.jpg'
									alt="{{tutor | capitalize}}"> </a>
						</div>
					</div>
				</div>
				<div ng-show="!message.length"></div>
			</div>
			<div>
				<div class="input-group" style="box-shadow: 0px 2px 2px 2px #CCC;">
					<input type="text" class="form-control" style="border-radius: 0;"
						placeholder="Type your message..." ng-model="inputText"> <span
						class="input-group-btn">
						<button class="btn btn-default" ng-click="sendMessage()" style="border-radius: 0;"
							type="button">
							<b>Send</b>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>