
<hr class="">
</hr>
<div class="container" ng-hide="user">
	<center>
		<h1>
			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
		</h1>
	</center>
</div>
<div class="container target" ng-init="getProfileDetails()"
	ng-show="user">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="">{{user.firstName}}</h1>

			<a ng-hide="loggedInUser==user.userName" ng-href="./#/inbox">
				<button type="button" class="btn btn-info">Send me a
					message</button>
			</a> <a ng-show="loggedInUser==user.userName" ng-href="./#/inbox">
				<button type="button" class="btn btn-info">Edit Profile</button>
			</a><br>

		</div>
		<div class="col-sm-2">
			<a ng-href="./#/profile/{{user.userName}}" class="pull-right"><img
				title="profile image" class="img-circle img-responsive"
				ng-src="{{baseURLImages}}/{{user.userName}}.jpg"
				fallback-src={{defaultImageURL}}></a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-3">
			<!--left col-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-user-circle fa-1x"></i> Profile
				</div>
				<ul class="list-group">
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">First Name </strong></span> {{user.firstName}}</li>
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Last Name </strong></span> {{user.lastName}}</li>
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Username </strong></span> {{user.userName}}</li>
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Location </strong></span> {{user.location}}</li>
				</ul>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-address-card-o fa-1x"></i> Education
				</div>
				<ul class="list-group">
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Major</strong></span>{{user.major}}</li>
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Level</strong></span>{{user.educationLevel}}</li>
				</ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading ">
					<i class="fa fa-dashboard fa-1x"></i> Activity
				</div>
				<ul class="list-group">
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Sessions Taken</strong></span> {{user.sessionTaken}}</li>
					<li class="list-group-item text-right"><span class="pull-left"><strong
							class="">Sessions Given</strong></span> {{user.sessionGiven}}</li>
				</ul>
			</div>
		</div>
		<!--/col-3-->
		<div class="col-sm-9" contenteditable="false" style="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-wpexplorer fa-1x"></i> {{user.firstName}}
					{{user.lastName}}'s Bio
				</div>
				<div class="panel-body">Engineer, Coder !!</div>
			</div>

			<!-- Friends -->
			<div class="panel panel-default target">
				<div class="panel-heading" contenteditable="false"
					ng-show="user.friends.length">
					<i class="fa fa-users fa-1x"></i> Friends
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4" ng-repeat="friend in user.friends">
							<div class="image-cropper-small">
								<a ng-href='./#/profile/{{friend}}'><img class="my-picture"
									ng-src="{{baseURLImages}}/{{friend}}.jpg"
									alt="{{friend | capitalize}}"> </a>
							</div>
							<div style="text-align: center; font-weight: bold">{{friend
								| capitalize}}</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Friends -->

			<!-- Interests -->
			<div class="panel panel-default target">
				<div class="panel-heading" contenteditable="false"
					ng-show="user.friends.length">
					<i class="fa fa-bullhorn fa-1x"></i> Interests
				</div>
				<div class="panel-body">
					<div class="row">
						<p ng-repeat="interest in user.interests" class="chip">{{interest}}</p>
					</div>
				</div>
			</div>
			<!-- Interests  -->

			<!-- Skills  -->
			<div class="panel panel-default target">
				<div class="panel-heading" contenteditable="false"
					ng-show="user.friends.length">
					<i class="fa fa-space-shuttle fa-1x"></i> Skills
				</div>
				<div class="panel-body">
					<div class="row">
						<p ng-repeat="skill in user.skills" class="chip">{{skill}}</p>
					</div>
				</div>
			</div>
			<!-- Skills  -->

			<div>
				<button>Save Profile</button>
			</div>


		</div>
	</div>

</div>