.chip {
	display: inline-block;
	margin: 5px 5px;
	padding: 0 15px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	border-radius: 25px;
	background-color: #f1f1f1;
}

.textChipLeft{
	
	margin: 5px 5px;
	padding: 0 15px;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #e5e5ea;
	float: left;
	    box-shadow: 1px 1px 2px 1px #CCC;
}
.textChipLeft img {
    float: left;
    margin: 0 10px 0 -20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.textChipRight{
	margin: 5px 5px;
	padding: 0 15px;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #0f87fe;
	color: #fff;
	float: right;
	    box-shadow: 1px 1px 2px 2px #CCC;
}
.textChipRight img {
    float: right;
    margin: 0 -20px 0 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.talkers{
	border: 1px solid #CCC;
	padding: 5px;
}

.chats {
	border: 1px solid #CCC;
	box-shadow: 0px 0px 3px 2px #CCC;
	padding: 15px;
	min-height: 100%;
	height: 80vh;
	overflow: scroll;
}
.highligh-blue{
	color: blue;
}

.friendCard {
	margin: 5px;
	padding: 5px;
	border: 1px solid #CCC;
}

.friendCard .leftContents {
	width: 38%;
    display: inline-block;
    margin-left: 10px;
}

.friendCard .rightContents {
    width: 38%;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 65px;
}

.friendCard img {
	vertical-align: top;
	width: 200px;
	height: 200px;
}

.friendCard .title {
	display: inline-block;
	font-size: large;
	font-weight: bold;
	width: 85px;
	text-align: right;
}

.friendCard .user {
	display: inline-block;
	vertical-align: top;
	font-size: xx-large;
}

.image-cropper-large {
	margin-left: auto;
	margin-right: auto;
    width: 100px;
    height: 100px;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
}
.image-cropper-small {
	margin-left: auto;
	margin-right: auto;
    width: 80px;
    height: 80px;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
}
.my-picture {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
}